.App {
  text-align: left;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-size-adjust: 80%;
}

.block-num {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-size-adjust: 80%;
}

.dashboard {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.input-div {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}

.input-form {
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 12px;
}

.input-label {
  padding: 5px;
}

.input-field {
  margin: 15px;
}

.graph {
  height: 400px;
  position: relative;
  margin-bottom:"1%";
  padding:"1%"
}

.token-name {
  position: relative;
  top: 50%;
}

.token-logo {
  max-width: 100%;
  max-height: 100%;
}