.App {
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-size-adjust: 80%;
}

.block-num {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-size-adjust: 80%;
}

.input-div {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}

.input-form {
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 12px;
}

.input-label {
  padding: 5px;
}

.input-field {
  margin: 15px;
}