.App {
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border: none;
}

.title-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.network-div {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  text-align: center;
  flex-direction: row;
}

.wallet-div {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  text-align: center;
  flex-direction: column;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.popup-container .popup {
  z-index: 1;
  /* width: 350px;
  height: 220px; */
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  position: relative;
  max-width: 95%;
  max-height: 90%;
  animation: animate 0.5s;
}

.popup .message {
  display: flex;
  align-items: center;
  vertical-align: auto;
  text-align: center;
  max-width: 66%;
  flex-wrap: wrap;
  padding: 5px;
  border: none;
  font-style: italic;
}

.popup .warning {
  display: flex;
  align-items: center;
  vertical-align: auto;
  text-align: center;
  max-width: 33%;
  flex-wrap: wrap;
  padding: 5px;
  border: none;
  font-weight: bold;
  color: #c70000;
}

.popup .seed-phrase {
  background: lightgrey;
  display: flex;
  align-items: center;
  vertical-align: auto;
  text-align: center;
  width: 66%;
  flex-wrap: wrap;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

.popup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border: none;
}

.popup-button-grouping {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  max-width: 50%;
  justify-content: space-between;
  border: none;
  align-content: center;
}

.popup-form-control {
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
}

.seed-input {
  background-color: lightgrey;
}

.submit-button {
  color: white;
  background-color: #007bff;
  border: none;
  cursor: pointer;
}

.cancel-button {
  color: white;
  background-color: #c70000;
  border: none;
  cursor: pointer;
}

.password-capture {
  border-color: lightslategray;
}

.wallet-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  text-align: center;
}

.wallet-disp-div {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  text-align: center;
  padding: 5px;
}

.wallet-disp {
  background-color: lightgreen;
  color: darkgreen;
  padding: 10px;
  border-radius: 5px;
}

.no-wallet-disp {
  background-color: lightpink;
  color: darkred;
  padding: 10px;
  border-radius: 5px;
}

.current-tx-div {
  align-items: center;
  vertical-align: top;
  text-align: center;
  max-width: 50%;
  margin: auto;
  animation: animate 0.3s;
}

.current-tx-disp {
  display: flex;
  justify-content: center;
  padding: auto;
  padding: 10px;
  border-radius: 5px;
}

.current-tx-disp a {
  padding-left: 5px;
}

.current-tx-processing {
  background-color: lightgoldenrodyellow;
  color: darkgoldenrod;
}

.current-tx-complete {
  background-color: lightgreen;
  color: darkgreen;
}

.current-tx-failed {
  background-color: lightpink;
  color: darkred;
}

.password-message-div {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  text-align: center;
  padding: 5px;
}

.password-progress {
  background-color: lightgreen;
  color: darkgreen;
  padding: 10px;
  border-radius: 5px;
}

.input-error {
  background-color: lightpink;
  color: darkred;
  padding: 10px;
  border-radius: 5px;
}

.cta-button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 12px;
  min-width: 250px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.wallet-selector-div {
  width: 50%;
}

.wallet-button-div {
  width: 75%;
}

.selector {
  position: relative;
  background-color: lightgray;
  text-align: center;
}

.network-selector {
  width: 100%;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 8px;
}

.wallet-selector {
  width: 100%;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 8px;
}

.cta-button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.create-wallet-button {
  background: rgb(32, 129, 226);
}

.import-wallet-button {
  background: goldenrod;
}

.clear-wallet-button {
  background: red;
}

.seed-phrase-button {
  background: darkred;
}

.balance-div{
  width: 100%;
}

.balance-ops {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  text-align: center;
  width: 100%;
}

.balance-small {
  width: 25%;
  padding: 10px;
}

.balance-big {
  width: 50%;
  padding: 10px;
}

.transfer-form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  text-align: center;
  flex-direction: row;
}

.transfer-form-control {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.transfer-input {
  position: relative;
  background-color: #f0f0f0;
  width: 90%;
}

.transaction-header {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.transaction-form-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: top;
  text-align: center;
  flex-direction: row;
}

.transaction-form-div {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
}

.transaction-form-control {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.transaction-label {
  position: relative;
  width: 70%;
}

.transaction-input {
  position: relative;
  background-color: #f0f0f0;
  text-align: center;
  width: 20%;
}

.transfer-button {
  background-color: #007bff;
}

.tx-div {
  background: lightgrey;
  display: flex;
  align-items: center;
  vertical-align: auto;
  width: 50%;
  flex-wrap: wrap;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

.tx-row {
  display: flex;
  align-items: flex-start;
  vertical-align: auto;
  text-align: left;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: small;
}

.tx-item {
  padding-left: 10px;
}

.tx-key {
  color: purple;
}

.tx-val {
  color: green;
}

table {
  width: 100%;
}

thead {
  background-color: slategray;
  color: white;
}

tr {
  height: 50px;
}

tr:nth-child(even) {background-color: #f2f2f2}

th, td {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
}

.token-logo {
  height: 50px;
  width: auto;
}

@keyframes animate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}